<%= simple_form_for :search, url: search_path, method: 'post' do |f| %>
  <%= f.input 'query' %>
  <%= f.input 'city_1' %>
  <%= f.input 'city_2' %>
  <%= f.button :submit, value: "search!" %>
<% end -%>

<% @cities.each do |city| -%>
  <table>
    <tr>
      <th><%= "#{city['name']} (#{city['overall']})" %></th>
    </tr>
      <th>Sentiment (Severity)</th>
      <th>Tweet</th>
    </tr>
    <% @sentiments[city['name']].each do |sentiment| %>
      <tr>
        <td><%= sentiment['type'] %> (<%= sentiment['score'] %>)</td>
        <td><%= sentiment['text'] %></td>
      </tr>
    <% end -%>
  </table>
<% end -%>
